.about {

    height: 100vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,0.3);
   

    &-main {
        
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 80rem;
        padding: 5rem 0 10rem;

        @include respond(phone){
            padding: 10rem 0 0;
            width: 45rem;
            line-height: 1.3;
        }

        & > * {
            padding: 2rem 0;
        }

        &-greeting {
            font-size: 4.5rem;
            @include respond(phone){
                font-size: 5rem;
            }
        }

        &-name {
            font-size: 3rem;
            @include respond(phone){
                font-size: 3.5rem;
                
            }
        }

        &-description {
            font-size: 2.8rem;
            @include respond(phone){
                font-size: 3.3rem;
            }

        }
    }

    &-picture {
        background-image: url("./images/newnewheadshot.jpg");
        background-size: cover;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        margin-bottom: 10rem;


        @include respond(smallphone){
            height: 125px;
            width: 125px;
            margin-bottom: 25rem;
        }
    }
}