.contact {

    height: 100vh;
    background-color: rgba(0,0,0,0.3);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-text {

        display: flex;
        flex-direction: column;
        align-items: center;
        color: #eee;
        margin: 20rem 0 0rem;

        &__title {
            font-size: 4rem;
        }

        &__paragraph {
            font-size: 3rem;
        }
    }

    &-links {
        width: 60rem;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        &__linkedin {

            &,
            &:link,
            &:visited{
                width: 50px;
                height: 50px;
                background-image: url('./images/logos/linkedinlogo.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: all .1s ease-in-out;
            }
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        &__resume {

            &,
            &:link,
            &:visited{
                background-color: #fff;
                color: #111;
                font-size: 2.2rem;
                border: 1px solid #111;
                text-decoration: none;
                border-radius: 3px;
                padding: 1rem 1.5rem;
                text-transform: uppercase;
                margin: 5rem 0;
                align-self: flex-end;
                transition: all .1s ease-in-out;
            }

            &:hover {
                background-color: #25f;
                color: #fff;
                cursor: pointer;
            }
        }

        &__github {

            &,
            &:link,
            &:visited{
                width: 55px;
                height: 55px;
                background-image: url('./images/logos/githublogo.png');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                transition: all .1s ease-in-out;
            }
            &:hover {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }

    &-form {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
        margin: 5rem 20rem;
        font-size: 2.6rem;

        &-col {
            &-1{
                
                width: 50rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-left: 10rem;

            }
            &-2{

                
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 6rem;
                margin-left: 10rem;

            }
        }

        &-group {

            width: 100%;
            display: flex;
            flex-direction: column;

            &__label {
                
                margin: 3rem 0 1rem;
                align-self: start;
                color: #eee;
            }

            &__input {
                background-color: #333;
                color: #eee;
                border: 1px solid #111;
                border-radius: 3px;
                height: 20px;
                padding: 1.5rem 2rem;
                font-size: 2.8rem;
            }

            &__textarea {
                background-color: #333;
                color: #eee;
                border: 1px solid #111;
                border-radius: 3px;
                height: 250px;
                padding: 1.5rem 2rem;
                font-size: 2.8rem;
            }
        }

        &-button {
            background-color: #fff;
            color: #111;
            font-size: 3rem;
            border: 1px solid #111;
            border-radius: 3px;
            padding: 1rem 1.5rem;
            text-transform: uppercase;
            margin-top: 3rem;
            align-self: flex-end;
            transition: all .1s ease-in-out;

            &:hover {
                background-color: #25f;
                color: #fff;
                cursor: pointer;
            }
        }
    }
}