.projects {

    height: 100%;
    background-color: rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-title {
        color: #ddd;
        font-size: 4.5rem;
        margin: 10rem auto -10rem;

        @include respond(phone){
            font-size: 6rem;
        }
    }
}